body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #1E4DBE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    background: url('fondo-textura.jpg') no-repeat center center/cover;
    padding: 60px 40px;
    text-align: center;
}

.servicios h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(17, 14, 14, 0.2);
}

.lista-servicios {
    display: grid;
    flex-direction: initial;
    align-items: center;
    margin-top: 10px;
}

.servicio {
    width: 250px;
    padding: 15px;
    margin: 5px 0;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.seo { background: #F98E66; }
.sem { background: #A7D8E9; }
.cm { background: #D5B3E6; }
.asesorias { background: #58A985; }
.cursos { background: #F7C1CD; }
.diseno { background: #F98E66; }

footer {
    background: #4B3220;
    color: white;
    text-align: center;
    padding: 15px;
}

.redes {
    margin-top: 10px;
}

.redes img {
    width: 25px;
    margin: 0 5px;
}
